.carousel-container {
  width: 100%;
  max-width: 1500px;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.carousel-slide {
  width: 100%;
  height: 100%;
  display: inline-grid;
  align-items: center;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity .5s ease-in-out;
  object-view-box: calc(5%) calc(5%) calc(90%) calc(90%);
}

/* Buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  border: none;
  padding: 8px 12px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

.left { left: 10px; }
.right { right: 10px; }

.nav-btn:hover {
  background: rgba(0,0,0,0.6);
}
