/* :root {
  --primary: #cfe2f3;       
  --primary-light: #e7f1fc;
  --primary-dark: #9dbad6;
  --text-dark: #1a1a1a;
  --white: #ffffff;
} */

/* Layout */
.faq-container {
  max-width: 1500px;
  margin: auto;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.faq-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: var(--primary-dark);
}

/* Accordion */
.accordion {
  background-color: var(--primary);
  color: var(--text-dark);
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 12px;
  transition: 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion:hover {
  background-color: var(--primary-dark);
  color: #fff;
}

.accordion.active {
  background-color: var(--primary-dark);
  color: white;
}

.icon {
  font-size: 22px;
  font-weight: bold;
}

/* Panel */
.panel {
  overflow: hidden;
  transition: max-height 0.35s ease;
  background: var(--white);
  padding: 0 18px;
  border-left: 3px solid var(--primary-dark);
  border-radius: 0 0 12px 12px;
  margin-bottom: 15px;
}

.panel p {
  padding: 12px 0;
  margin: 0;
  line-height: 1.6;
}

@media(max-width: 600px) {
  .accordion {
    font-size: 16px;
    padding: 14px;
  }

  .panel p {
    font-size: 15px;
  }
}
